body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-cont {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  padding: 24px 0;
  margin-right: 76px;
}

.accent {
  color: #4d5ae5;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* .header-menu-item {
} */

.header-menu-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
  margin-left: auto;
}

.header-contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* .header-contacts-item {
} */

.header-contacts-link {
  display: block;
  padding: 24px 0;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

.hero-solutions {
  background-color: #2e2f42;
  display: block;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-main {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  width: 496px;
  margin: auto;
  padding-bottom: 48px;
}

.hero-btn-container {
  display: flex;
  align-items: center;
}

.hero-btn {
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
}

button {
  cursor: pointer;
  margin: 0 auto;
}

/* .hero-btn-container{
} */

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

.hero-title {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero-list {
  display: flex;
  gap: 24px;
}

/* .hero-title-text {
} */

.hero-title-item {
  width: calc((100% - 72px) / 4);
}

.hero-title-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
}

.hero-title-list-description {
  letter-spacing: 0.02em;
  color: #434455;
}

.hero-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero-team-main-text {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
}

.hero-team-list {
  display: flex;
  gap: 24px;
  background: #f4f4fd;
}

.hero-team-item {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  background-color: #fff;
}

.hero-team-name-prof-d {
  padding: 32px 16px 32px 16px;
  width: 264px;
  height: 120px;
}

.hero-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 8px;
}

.hero-team-profession {
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-main-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-items {
  width: calc((100% - 48px) / 3);
}

/* .portfolio-items-img {
} */

.portfolio-title-descr-d {
  padding: 32px 16px 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  width: 360px;
  height: 120px;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
}

.portfolio-description {
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  display: block;
  padding: 100px 0px 100px 0px;
}

.footer-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  padding-top: 16px;
}